@import "../../../assets/style/variables";
@import "src/assets/style/shablon";
.scroll-top {
  position: fixed;
  padding: 15px;
  background-color: #565454;
  z-index: 100;
  bottom: 0;
  right: 0;
  border-radius: 10px;
  cursor: pointer;

  i {
    font-size: 30px;
    color: white;


  }

  @extend %hoverBgColorRed

}

.izShowBtn {
  opacity: 1;
  transition: .5s;

  &_hide {
    opacity: 0;
  }
}
