@import "src/assets/style/shablon";
@import "../../../assets/style/variables";

.sale-section {
  padding: 140px 0 0 0;
}

.sale-header {
  background-color: $antiquewhite;
  padding: $paddingPagesHeader;
}

.sale-header-text {
  letter-spacing: 2px;

  i {
    font-size: 15px;
  }

  span {
    color: $Nav;
  }
}

.sale-title {
  padding: $paddingPagesTitle;
  border-bottom: 1px solid;

  h3 {
    font-size: $font-size-30;
    font-weight: 300;
  }

}

.sale-catalog-description {
  padding: 30px 0 0;

  p {
    color: $Nav;
  }
}

.filter-button-box {
  margin: 20px 0 0;

  ul {
    display: flex;
    flex-wrap: wrap;

    li {
      margin: 10px 10px 0 0;

      background: $antiquewhite;
      font-size: $font-size-20;
      padding: 10px 30px;
      border-radius: 10px;
      color: black;
      cursor: pointer;
      transition: .3s;

      &:hover {
        background-color: black;
        color: white;

      }

      &.filter-active {
        background-color: red;

      }
    }
  }
}

.sort-desqription-products {
  background-color: $antiquewhite;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
}

.control-description {
  span {
    margin: 0 20px 0 0;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: $font-size-20;

    &.text-active {
      background-color: red;
      color: white;

    }

  }
}

.sort-desqription-products {
  display: flex;
  justify-content: space-between;
}

.sort-products {
  display: flex;

  select {
    margin: 0 0 0 20px;
  }
}

.sale-products-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.sale-products-item {
  margin-top: 20px;
  padding: 10px;
  width: 300px;
  height: 400px;

  button {
    border: 1px solid;
    padding: 8px 30px;
    border-radius: 10px;
    transition: .3s;
    font-weight: 500;
    position: relative;


    span{
      position: absolute;
      left: 10px;

    }

    @extend %hoverBgColorRed


  }
}

.item-products-image {
  width: 100%;
  border: 1px solid;
  height: 50%;
}

.item-products-info > :not(:last-child) {
  margin: 10px 0 20px;
}
