
.loader-box{
   position: relative;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}
.loader{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 3px dashed red;
  animation: rotate 1s infinite linear;

}
.loader-text{
  position: absolute;
  color: red;
  left: 0;
  top: 50%;

}


@keyframes rotate {
  from{
    transform: rotate(0deg) scale(1);
  }
  to{
    transform: rotate(360deg)scale(1.4);

  }

}