@import "../../assets/style/variables";


.costumers-input-box {

  input {
    width: 100%;
    padding: 10px 0;
    transition: .3s;
    border: 1px solid;
    border-radius: 5px;



    &:focus {
      border: 2px solid $Nav;
    }
  }

}