@import "../../../assets/style/variables";
@import "src/assets/style/shablon";


.sidebar-container {
  position: fixed;
  width: 300px;
  left: 0;
  top: 0;
  min-height: 100vh;
  background: $blue;
  border-left: 10px solid $blue;
  transition: 0.5s;
  overflow: hidden;

  .navigation {
    position: relative;
    height: 100%;
    overflow: auto;

    &::-webkit-scrollbar{
      display: none;
    }
  }

  .navigation-list {


    > li {
      position: relative;
      width: 100%;


      > .navigation-box {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        color: $white;
        cursor: pointer;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;



        &:hover {
          color: $blue;
          background: $white;



          .menu-arrow {
            border-top: 8px solid $blue;

          }


          &::before {
            content: '';
            position: absolute;
            right: 0;
            top: -50px;
            width: 50px;
            height: 50px;
            background: transparent;
            border-radius: 50%;
            box-shadow: 35px 35px 0 10px $white;
            pointer-events: none;

          }

          &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -50px;
            width: 50px;
            height: 50px;
            background: transparent;
            border-radius: 50%;
            box-shadow: 35px -35px 0 10px $white;
            pointer-events: none;

          }

        }

        &.active {
          color: aqua;

        }

        .icon {
          position: relative;
          display: block;
          text-align: center;
        }

        .title {
          position: relative;
          display: block;
          padding: 0 40px 0 20px;
          height: 40px;
          line-height: 40px;
          transition: .3s;

        }

      }
    }

  }

  &.active {
    width: 60px;

    @media screen and (max-width: 991px) {
      left: 0;
      width: 300px;
    }
    @media screen and (max-width: 480px) {
      left: 0;
      width: 100%;
    }

  }

  @media screen and (max-width: 991px) {
    left: -300px;
  }
  @media screen and (max-width: 480px) {
    left: -100%;
    width: 100%;
    z-index: 10;
  }
}



.sidebar-title {
  height: 60px;
  display: flex;
  align-items: center;

  .title {
    padding: 0 20px;
    cursor: pointer;
  }
}

.menu-arrow {
  position: absolute;
  cursor: pointer;
  margin-top: 30px;
  border-top: 8px solid white;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  transform: rotate(90deg);
  transition: .3s;
  right: 0;
  z-index: 20;

}

.navigation-bmw {
}

.sub-menu {
  position: relative;
 display: none;
  transition: .3s;
  transition-timing-function: ease;
  transition-duration: .35s;
  transition-property: height,visibility;



  li{
    a{
      display: flex;
      position: relative;
      width: 100%;
      align-items: center;
      cursor: pointer;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;
      color: black;


      &.active {
        color: aqua;

      }

    }

    .title {
      position: relative;
      display: block;
      padding: 0 40px 0 20px;
      height: 40px;
      line-height: 40px;
      transition: .3s;

    }

  }
}
.open-sub-menu{
   display: block;
  //transition-timing-function: ease;
  //transition-duration: .35s;
  //transition-property: height,visibility;


}
.rotate-arrow-menu{
    transform: rotate(0deg);

}