@import "../../../assets/style/variables";
@import "src/assets/style/shablon";


.sidebar-container {
  position: fixed;
  width: 300px;
  height: 100%;
  background: $blue;
  border-left: 10px solid $blue;
  transition: 0.5s;
  overflow: hidden;

  ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;

    li {
      position: relative;
      width: 100%;
      border-top-left-radius: 30px;
      border-bottom-left-radius: 30px;


      &:hover {
        background: $white;
      }

      a {
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        color: $white;
        cursor: pointer;

        &:hover {
          color: $blue;
          &::before {
            content: '';
            position: absolute;
            right: 0;
            top: -50px;
            width: 50px;
            height: 50px;
            background: transparent;
            border-radius: 50%;
            box-shadow: 35px 35px 0 10px $white;
            pointer-events: none;
          }
          &::after {
            content: '';
            position: absolute;
            right: 0;
            bottom: -50px;
            width: 50px;
            height: 50px;
            background: transparent;
            border-radius: 50%;
            box-shadow: 35px -35px 0 10px $white;
            pointer-events: none;
          }

        }
        &.active{
       color: aqua;

        }
        .icon {
          position: relative;
          display: block;
          text-align: center;
        }

        .title {
          position: relative;
          display: block;
          padding: 0  10px 0 20px;
          height: 60px;
          line-height: 60px;
          text-align: start;
        }

      }
    }

  }

  &.active {
    width: 60px;
    @media screen and (max-width: 991px) {
      left: 0;
      width: 300px;
    }
    @media screen and (max-width: 480px) {
      left: 0;
      width: 100%;
    }
  }

  @media screen and (max-width: 991px) {
    left: -300px;
  }
  @media screen and (max-width: 480px) {
    left: -100%;
    width: 100%;
    z-index: 10;
  }
}

.navigation {
  position: relative;
}

.sidebar-title {
  height: 60px;
  display: flex;
  align-items: center;

  .title {
    padding: 0 20px;
    cursor: pointer;
  }
}
.menu-arrow{
  position: relative;
  cursor: pointer;
  margin-top: 30px;
  border-top: 8px solid $Nav;
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
}
