@import "../assets/style/variables";
@import "src/assets/style/shablon";
.AdminPage-wrapper{


  svg{
    width: 25px;
    height: 25px;
  }
}


.admin-section {
  position: absolute;
  top: 0;
  width: calc(100% - 250px);
  left: 250px;
  min-height: 100vh;
  background: $white;
  transition: 0.5s;
  background: $Nav;


  &.active{
    width: calc(100% - 60px);
    left: 55px;
    .toggle{
      color: $white;
    }

    //@media screen  and (max-width: 991px){
    //  left: 300px;
    //}

  }

  @media screen  and (max-width: 991px){
    width: 100%;
    left: 0;

  }

}


.scroll-container{
  height: calc(100vh - 60px);
  overflow: auto;


}
.routing-container{
  padding: 0 10px;
  margin: 20px 0 0;
}

