@import "../../../assets/style/shablon";
@import "../../../assets/style/variables";

.counter-tools{
  display: flex;
  align-items: center;
  span{
    display: block;
    padding: 10px ;
    border: 1px solid $Nav;
    cursor: pointer;
    border-radius: 4px;
    transition: .3s;

   &:hover{
     @extend %hoverBgColorBlack;
     color: white;

   }
  }
  p{
    padding: 10px ;
  }
}