@import "src/assets/style/variables";
@import "src/assets/style/shablon";

.catalog-item-info {
  position: absolute;
  color: white;
  h4 {
    margin: 20px 0;
    font-size: $font-size-20;
    max-width: 270px;
    text-align: center;


  }

  p {
    text-align: center;
    font-size: $font-size-16;

  }


}
.catalog-item-remove{
  position: absolute;
  color: white;
  bottom: 10px;
}
.catalog-item-edit{
  position: absolute;
  top: 10px;
  color: $blue;
  transition: .3s;

  &:hover{
    color: $blueCheckoutHover;
  }
}